#MAC
.DS_Store
#DJANGO
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
#VSCODE
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
#Project
.env