
{% extends "base.html" %}
{% load static %}
{% block content %}
<section class=" booking-sec">
    <h4 id="form-h">New Client Form</h4>
        <div class="booking-container">
            <section class="booking-left">
                <div class="text-container">
                    <p>Please include the following and we'll match you with the correct artist:</p>
                    <ol>
                        <li>Location</li>
                        <li>Size</li>
                        <li>A brief description</li>
                        <li>Style</li>
                        <li>Color? Black and Grey?</li>
                        <li>A reference photo.</li>
                    </ol>
                </div>
            </section>
            <section class="booking-right">
               
                    <form action="" method="POST" class="contact-form" enctype="multipart/form-data">
                        {% csrf_token %}
                       {{form.as_p}}
                        <div class="form-control">
                            <input type="submit" value="Send"/>
                        </div>
                    </form>
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-primary text-center mt-3">
                                {{message}}
                            </div>
                        {% endif %}
                    {% endfor %}
            </section>
        </div>
    </section>
</div>
{% endblock %}