{% extends "base.html" %}

{% load static %}


{% block content%}
<div class="container">
    <h2>{{artist.first_name}}</h2>
    <h2>{{artist.last_name}}</h2>
    <img src="{{ artist.head_shot.url }}" alt="">
    <p>{{artist.bio}}</p>
    <ul>
            <li><img src="{{ artist.image_1.url }}" alt=""></li>
            <li><img src="{{ artist.image_2.url }}" alt=""></li>
            <li><img src="{{ artist.image_3.url }}" alt=""></li>
            <li><img src="{{ artist.image_4.url }}" alt=""></li>
            <li><img src="{{ artist.image_5.url }}" alt=""></li>
    </ul>

</div>

{% endblock%}