{% extends "base.html" %}

{% load static %}


{% block content%}
    <div class="single-artist">
        <h2>{{artist.first_name}}</h2>
        <h2>{{artist.last_name}}</h2>
        <img src="{{ artist.main_profile }}" alt="">
        <p>{{artist.bio}}</p>
    </div>
    <div class="s-artist-gallery">
        <div>
            <img class="s-artist-gallery-image" src="{{ artist.image_url.img1 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img2 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img3 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img4 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img5 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img1 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img2 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img3 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img4 }}" alt="">
        </div>
        <div>
            <img class="gallery-image" src="{{ artist.image_url.img5 }}" alt="">
        </div>
    </div>

{% endblock%}