{% if artists.first_name == "Sweets" %}
    <ul>
    {% for artist in artists %}
        <li><a href="/artists/{{ artist.id }}/">{{ artist.first_name }}</a></li>
        <li>{{ artist.bio }}</li>
    {% endfor %}
    </ul>
{% elif artists.first_name != "Sweets" %}
    <ul>
    {% for artist in artists %}
        <li><a href="/artists/{{ artist.id }}/">{{ artist.first_name }}</a></li>
        <li>{{ artist.bio }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No artist are available.</p>
{% endif %}