{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="page-l checkout">
<a style="margin-left:10px;margin-top:10px; color: var(--font)" class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
<div class="row">
        <div class="col-lg-6" id="user-shipping">
            <div class="box-element" id="form-wrapper">
                    <hr>
                    <h4>Shipping Information:</h4>
                    <hr>
                    <form id="form" method="POST">
                            {% csrf_token %}
                            <div id="user-info">
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="name" placeholder="Name..">
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="email" name="email" placeholder="Email..">
                                </div>
                            </div>
                            
                            <div id="shipping-info">
                                <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Address..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="City..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="state" placeholder="State..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                                </div>
                            </div>
                            <hr>
                            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        </form>
            </div>
            <br>
            <div class="box-element visually-hidden" id="payment-info">
                <!-- Set up a container element for the Paypal button -->
                <div id="paypal-button-container"></div>
                <!-- <button id="payment">Payment</button> -->
            </div>
            
        </div>
    
        <div class="col-lg-6">
            <div class="box-element">
                    <div class="box-element">
                            <hr>
                            <h3 style="text-align: center;">Your Order:</h3>
                            <hr>
                            {% for item in items %}
                            <div class="cart-row">
                                <div style="flex:2"><img class="row-image" src="{{item.product.imgURL}}"></div>
                                <div style="flex:2"><p>{{ item.product.title }}</p></div>
                                <div style="flex:1"><p>${{item.product.price}}</p></div>
                                <div style="flex:1"><p>x{{item.quantity}}</p></div>
                            </div>
                            {% endfor%}
                            <h5>Items:   {{order.get_cart_items}}</h5>
                            <h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
                        </div>
            </div>
        </div>
    </div>
</div>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AQVNXRXTLYWvl-AvoajRH9Lu-4NPekD2AoQtrH4kpAG_U6AbqbbPYeISPCpbPqEbxacmgeBXDQzH9lWl&currency=USD"></script>
    <script>
            var total = '{{order.get_cart_total}}'
         // Render the PayPal button into #paypal-button-container
         paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    submitFormData();

                });
            }


        }).render('#paypal-button-container');
    </script>
    <script type="text/javascript">
        var shipping = '{{order.shipping}}';
        
        //console.log(shipping)
        //if no order, hide shipping info
        if(shipping == 'False'){
            document.getElementById('user-shipping').innerHTML = '<h2>No items in cart</h2>';
        }

        //shipping form
        var form = document.getElementById('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            //console.log("submitted")
            document.getElementById('form-button').classList.add('visually-hidden') 
            document.getElementById('payment-info').classList.remove('visually-hidden') 
        })
        /* document.getElementById('payment').addEventListener('click', (e)=>{
            submitFormData()
        }) */
        function submitFormData(){
            var userFormData = {
                'name':null,
                'email':null,
                'total':total
            };
            //shipping data
            var userShippingData = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            }
            //validation and set form values
            if(shipping != 'False'){
                userShippingData.address = form.address.value
                userShippingData.city = form.city.value
                userShippingData.state = form.state.value
                userShippingData.zipcode = form.zipcode.value
            }
            if(user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }
           //process order 
            var url = "process_order/";
            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrftoken
                },
                body:JSON.stringify({
                    'form':userFormData, 
                    'shipping': userShippingData
                })
            }).then((res) => {
                return res.json();
            }).then((data) => {
                console.log("success: ", data);
                alert("Transaction complete");
                //prior to redirect, reset cookie
                cart = {}
			    //console.log('Cart Created!', cart)
			    document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

                window.location.href = "{% url 'store' %}"
            })

        }

    </script>
{% endblock %}