{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="page-l">
    <h4 class="store-h">STORE<hr id="store-underline"></h4>
    
<div class="store-page row">
    {% for product in products %}
        <div class="col-lg-4 merch-tile">
            <img class="thumbnail" data-alt-src="{{product.image_2.url}}" src="{{product.image_1.url}}">
            <div class="box-element product">
                <h4>{{ product.title }}</p>
                    <hr/>
                    <p>{{ product.description}}</p>
                    {% if product.quantity == 0 %}
                        <button class="btn btn-outline-secondary add-btn disable">Sold Out</button>
                    {% else %}
                        <button class="update-cart btn btn-outline-secondary" data-product={{product.id}} data-action="add" >Add to Cart</button>
                    {% endif %}
                    <h4>${{ product.price|floatformat:2 }}</h4>
            </div>
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}