{% extends "base.html" %}

{% load static %}

{% block content %}
    <h4 class="store-h">STORE<hr class="underline"></h4>    
    <div class="store-page row">
        {% for product in products %}
            <div class="col-lg-4 merch-tile">
                <img class="thumbnail" data-alt-src="{{product.description}}" src="{{product.image_1}}">
                <div class="box-element product">
                    <h4>{{ product.title }}</p>
                        <hr/>
                        <ul>
                            {% for i in product.sizes.values %}
                            {% if i.quantity == 0 %}
                                <button class="soldout btn btn-outline-secondary add-btn disable">{{i.sizes}}</button>
                            {% else %}
                                <button class="update-cart btn btn-outline-secondary" data-product={{i.product_id}} data-size={{i.id}} data-action="add" >{{i.sizes}}</button>
                            {% endif %}
                            {%endfor%}
                            
                        </ul>
                        <h4>${{ product.price|floatformat:2 }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}