<!DOCTYPE html>
{% load static %}
<html>
  <head lang="en">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="{% static '/images/lips.png' %}">
    <title>Wealth and Taste Tattoo</title>
    <script src="https://use.fontawesome.com/c5ae7f6780.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css'%}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
      <nav id="navbar" class="navbar navbar-expand-sm">
          <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"><img class="nav-logo" src="https://wat-asset-bucket.s3.us-east-2.amazonaws.com/assets/assets/logos/WT.png" alt="Wealth and Taste Logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item active"><a href="{% url 'artists' %}" class="nav-link">Artists</a></li>
                      <li class="nav-item active"><a href="https://wealth-and-taste.myshopify.com/" class="nav-link">Store</a></li>
                      <li class="nav-item active"><a href="{% url 'location' %}" class="nav-link">Location</a></li>
                      <li class="nav-item active"><a href="{% url 'booking' %}" class="nav-link">Booking</a></li>    
                  </ul> 
              </div>
          </div>
      </nav>
    {% block content %}

    {% endblock %}
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0" style="top:30%">
          <!-- Section: Social media -->
          <section>
              <p style="color: white;">615-660-0811 -  3250 Dickerson Pike Suite 121  Nashville TN 37207</p>
          </section>
          <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-instagram"></i
            ></a>
          </section>
          
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          Wealth and Taste Tattoo
        </div>
        <!-- Copyright -->
      </footer>
  <script src="{% static 'js/index.js'%}" type="text/javascript" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>