{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="home">
    <div class="title-sec parallax">
            <div class="parallax-text">
                        <h1 class="logo">LOGO</h1>
                        <h2>Wealth and Taste</h2>
                        <button class="home-btn"><a href="{% url 'artists' %}">View Artists</a></button>
            </div>
        </div>
    </div>
    <section class="location-hp-sec">
        <div class="location-hp-container">
            <section class="loc-left">
                <img src="{% static 'images/home2.jpg' %}" alt="Shop Image"/>
            </section>
            <section class="loc-right">
                    {% for loc in location %}
                    <h4 class="location-header">{{ loc.title }}</h4>
                    <p>is located at</p>
                    <br>
                    <p>{{ loc.address }}</p>
                    <p>{{loc.city}} {{ loc.state }} {{loc.zipcode}}</p>
                    <p>{{ loc.phone }}</p>
                    {% endfor %}
                </ul>
    
            </section>
        </div>
    </section>
    <section class="booking-hp-sec parallax2">
        <div class="booking-content">
            <div class="booking-hp-text">
                <h2>Book your appointment.</h2>
                <button class="home-btn"><a href="{% url 'artists' %}">View Artists</a></button>
                <br>
                <br>
                <h2>New Client? Not sure which artist?</h2>
                <button class="home-btn"><a href="{% url 'booking' %}">Inquiry Form</a></button>
            </div>
        </div>
            
        </section>
        <div class="artist-header">
            <h4>Meet the Family</h4>
        </div>
        <section class="artist-sec">
                <ul class="artist-hp-list" style="width:100%">
                    {% for artist in artists %}
                    <li class="tile artist-tile col-lg-3">
                            <a href="/artists/{{ artist.id }}">
                                <img id="artist-tile-img" src="{{ artist.image_url.headshot }}" alt="{{artist.fist_name}} {{artist.last_name}}">
                                    <p class="artist-tile-name">{{ artist.first_name }}</p>
                            </a>
                    </li>
                    {% endfor %}
                    {% for artist in artists %}
                    <li class="tile artist-tile col-lg-3">
                            <a href="/artists/{{ artist.id }}">
                                <img id="artist-tile-img" src="{{ artist.image_url.headshot }}" alt="{{artist.fist_name}} {{artist.last_name}}">
                                    <p class="artist-tile-name">{{ artist.first_name }}</p>
                            </a>
                    </li>
                    {% endfor %}
                    {% for artist in artists %}
                    <li class="tile artist-tile col-lg-3">
                            <a href="/artists/{{ artist.id }}">
                                <img id="artist-tile-img" src="{{ artist.image_url.headshot }}" alt="{{artist.fist_name}} {{artist.last_name}}">
                                    <p class="artist-tile-name">{{ artist.first_name }}</p>
                            </a>
                    </li>
                    {% endfor %}
                    
                </ul>
        </section>
    {% if guests %}
    <section class="guest-sec">
        <div class="guest-container">
                {%for guest in guests%}
                    {%if guest.get_current %}
                        {% ifchanged %}
                    <section class="guest-left">
                                    <h4 class="guest-h">Guest Artists</h4>
                        <ul class="guest-list">
                                {% for guest in guests%}
                                    {% if guest.get_current %}
                                    <li class="guest-tile">
                                        <a href="{{guest.instagram_link}}">
                                        <img id="guest-tile-img" src="{{ guest.image_url.headshot }}" alt="{{guest.fist_name}} {{guest.last_name}}">                      
                                        <br>                    
                                        <p class="guest-name">{{guest.first_name}} <br> {{guest.last_name}}</p>
                                        </a>
                                    </li>
                                    {% endif%}
                                {% endfor %}
                            </ul>
                        </section>
                        {% endifchanged %}
                            {% endif %}
                        {%endfor%}
                        {%for guest in guests%}
                            {%if not guest.get_current %}
                                {% ifchanged %}
                    <section class="guest-right">
                                        <h4 class="guest-h">Upcoming Artists</h4>
                                  
                        <ul class="guest-list">
                            {% for guest in guests%}
                                {% if not guest.get_current %}
                                <li class="guest-tile">
                                        <a class="guest-link" href="{{guest.instagram_link}}">
                                        <img id="guest-tile-img" src="{{ guest.image_url.headshot }}" alt="{{guest.fist_name}} {{guest.last_name}}">                      
                                        <br>                    
                                        <p class="guest-name">{{guest.first_name}} <br> {{guest.last_name}}</p>
                                        </a>
                                    </li>
                                {% endif%}
                            {% endfor %}
                        </ul>
                    </section>
                    {% endifchanged %}
                    {% endif %}
                {% endfor %}
                    </div>
                </section>
            
    {% endif %}

{% endblock %}