{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="home">
    <section class="title-sec">
        <div class="container">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            <button><a href="{% url 'artists' %}">View Artists</a></button>
        </div>
    </section>
    <section class="location-sec">
        <div class="container">
            <img src="{% static 'images/home2.jpg' %}" alt="Shop Image"/>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        </div>
    </section>
    <section class="booking-sec">
            <div class="container">
                <img src="{% static 'images/home2.jpg' %}" alt="Shop Image"/>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                <div>
                    <button><a href="{% url 'booking' %}">Book an Appointent</a></button>
                </div>
            </div>
    </section>
    <section class="artist-sec">
        <div class="row">
            <ul>
            {% if artists.first_name == "Sweets" %}
            {% for artist in artists %}
             <li class="artist-tile col-lg-4"> 
                <img src="{{ artist.image_url.headshot }}" alt="">
                <p>{{ artist.first_name }}</p>
                <p>{{ artist.last_name }}</p>
                <p>{{ artist.bio }}</p>
            </li>
            {% endfor %}
            {% else %}
            {% for artist in artists %}
             <li class="artist-tile"> 
                <img class="artist-headshot"src="{{ artist.image_url.headshot }}" alt="{{artist.first_name}} {{artist.last_name}}">
                <p>{{ artist.first_name }}</p>
                <p>{{ artist.last_name }}</p>
                <a href="{{artist.instagram_link}}"></a>
            </li>
            {% endfor %}
            {% endif %}
            </ul>
    </section>

<style>
.title-sec{
    background-image: url("{% static 'images/home1.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
{% endblock %}