{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home">
    <div class="title-sec parallax">
            <div class="parallax-text">
                        <img class="home-logo"src="https://wat-asset-bucket.s3.us-east-2.amazonaws.com/assets/assets/logos/Lips_Creme.png" alt="Wealth and Taste Logo">
                        <button class="home-btn"><a href="{% url 'artists' %}">View Artists</a></button>
            </div>
        </div>
    </div>
    <section class="video-section">
        <video controls autoplay muted loop playsinline>
            <source src="https://wat-asset-bucket.s3.us-east-2.amazonaws.com/assets/assets/video/Wealth%26Taste_Colored_V3.mp4">
            Your browser does not support the video tag.
            </video>
    </section>
    <section class="location-hp-sec">
        <div class="location-hp-container">
            <section class="loc-left">
                <img src="https://wat-asset-bucket.s3.us-east-2.amazonaws.com/assets/assets/shop/shop2.jpg" alt="Shop Image"/>
            </section>
            <section class="loc-right">
                    <p>Home to award winning tattoo artists. Located just north of Nashville,TN!</p>
            </section>
        </div>
    </section>
    <section class="booking-hp-sec parallax2">
        <div class="booking-content">
            <div class="booking-hp-text">
                <h2>Book your appointment.</h2>
                <button class="home-btn"><a href="{% url 'artists' %}">View Artists</a></button>
                <br>
                <br>
                <h2>New Client? Not sure which artist?</h2>
                <button class="home-btn"><a href="{% url 'booking' %}">Inquiry Form</a></button>
            </div>
        </div>
            
        </section>
        <div class="artist-header">
            <h4>Meet the Family</h4>
        </div>
        <section class="artist-sec">
                <ul class="artist-hp-list">
                    {% for artist in artists %}
                        {% if artist.name == 'Sweets' %}
                        <li class="tile artist-tile col-lg-3">
                                <a href="/artists/{{ artist.id }}">
                                    <img id="artist-tile-img" src="{{ artist.head_shot }}" alt="{{artist.fist_name}} {{artist.last_name}}">
                                        <p class="artist-tile-name">{{ artist.name }}</p>
                                </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% for artist in artists %}
                        {% if artist.name != 'Sweets' %}
                            <li class="tile artist-tile col-lg-3">
                                <a href="/artists/{{ artist.id }}">
                                    <img id="artist-tile-img" src="{{ artist.head_shot }}" alt="{{artist.fist_name}} {{artist.last_name}}">
                                        <p class="artist-tile-name">{{ artist.name }}</p>
                                        {% if artist.apprentice %}
                                            <p class="apprentice">(apprentice)</p>
                                        {% endif%}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </section>
    {% if guests %}
    <section class="guest-sec">
        <div class="guest-container">
                {%for guest in guests%}
                    {%if guest.get_current %}
                        {% ifchanged %}
                    <section class="guest-left">
                                    <h4 class="guest-h">Guest Artists</h4>
                        <ul class="guest-list">
                                {% for guest in guests%}
                                    {% if guest.get_current %}
                                    <li class="guest-tile">
                                        <a href="{{guest.instagram_link}}">
                                        <img id="guest-tile-img" src="{{ guest.headshot }}" alt="{{guest.fist_name}} {{guest.last_name}}">                      
                                        <br>                    
                                        <p class="guest-name">{{guest.first_name}} <br> {{guest.last_name}}</p>
                                        <p class="guest-date">{{guest.start_date|date:'m-d'}} - {{guest.end_date|date:'m-d'}}</p>
                                        </a>
                                    </li>
                                    {% endif%}
                                {% endfor %}
                            </ul>
                        </section>
                        {% endifchanged %}
                            {% endif %}
                        {%endfor%}
                        {%for guest in guests%}
                            {%if not guest.get_current %}
                                {% ifchanged %}
                    <section class="guest-right">
                                        <h4 class="guest-h">Upcoming Artists</h4>
                                  
                        <ul class="guest-list">
                            {% for guest in guests%}
                                {% if not guest.get_current %}
                                <li class="guest-tile">
                                        <a class="guest-link" href="{{guest.instagram_link}}">
                                        <img id="guest-tile-img" src="{{ guest.image_url.headshot }}" alt="{{guest.fist_name}} {{guest.last_name}}">                      
                                        <br>                    
                                        <p class="guest-name">{{guest.first_name}} <br> {{guest.last_name}}</p>
                                        <p class="guest-date">{{guest.start_date}} to {{guest.end_date}}</p>
                                        </a>
                                    </li>
                                {% endif%}
                            {% endfor %}
                        </ul>
                    </section>
                    {% endifchanged %}
                    {% endif %}
                {% endfor %}
                    </div>
                </section>
            
    {% endif %}

{% endblock %}