{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="location-sec">
        <div class="container">
            <img src="{% static 'images/home2.jpg' %}" alt="Shop Image"/>
            <ul>
                {% for detail in details %}
                <li>{{ detail.title }}</li>
                <li>{{ detail.address }}</li>
                <li>{{detail.city}} {{ detail.state }} {{deatil.zipcode}}</li>
                <li>{{ detail.phone }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
