{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="location-sec">
        <div class="container">
            {% for detail in details %}
                <h4 class="location-header">{{ detail.title }}</h4>
            <img src="{% static 'images/location.png' %}" alt="Shop Image"/>
            <ul>
            <br>
                <p>{{ detail.address }}</p>
                <p>{{detail.city}} {{ detail.state }} {{deatil.zipcode}}</p>
                <p>{{ detail.phone }}</p>
                {% endfor %}
            </ul>

        </div>
    </section>
{% endblock %}
