{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-l">
<section class="location-sec">
        <div class="container">
           
                <h4 class="location-header">Wealth and Taste Tattoo</h4>
            <img src="{% static 'images/location.png' %}" alt="Shop Image"/>
            <ul>
            <br>
            <p>3250 Dickerson Pike Suite 121</p>
            <p>Nashville, TN 37207</p>
            <p>(615)-660-0811</p>
            </ul>

        </div>
    </section>
</div>
{% endblock %}
